%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../assets/ico/favicon.png", :rel => "shortcut icon"}/
    %title Duostaff
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "plugins/html5shiv"
      = javascript_include_tag "plugins/respond.min"
    = csrf_meta_tags
  %body{:style => ""}
    .navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => welcome_path } DuoStaff
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => welcome_path } Main
            %li
              %a{:href => about_path } About
            %li
              %a{:href => "#"} Foto
            %li
              %a{:href => "#"} Video
            %li
              %a{:href => faq_path } FAQ
            %li
              %a{:href => "#"} Raider
        / /.nav-collapse
      / /.container
    / /.navbar
    .container
      .row.row-offcanvas.row-offcanvas-left
        #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
          .well.sidebar-nav
            %ul.nav
              %li Sidebar
              %li.active
                %a{:href => welcome_path } Main
              %li
                %a{:href => about_path } About
              %li
                %a{:href => "#"} Foto
              %li
                %a{:href => "#"} Video
              %li
                %a{:href => faq_path } FAQ
              %li
                %a{:href => "#"} Raider
          / /.well
        / /span
        .col-xs-12.col-sm-9
          %p.pull-left.visible-xs
            %button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"} Toggle nav
          .jumbotron
            %h1 Hello, world!
            %p This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          = yield
        / /span
      / /row
      %hr/
      %footer
        %p © Company 2013
    / /.container
